 .back-card {
  background-image: url(../images/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 445px;
  height: 245px;
  position: relative;
  top: 500px;
  left: 300px;
  border-radius: 12px;
}

p.cvc-number {
  color: white;
  position: relative;
  top: 37%;
  left: 77%;
  /* width: fit-content; */
}

@media screen and (max-width: 500px) {
  .back-card {
    zoom: 0.7;
    top: 15px;
    left: 50px;
  }

  p.cvc-number {
    top: 44%;
  }
  
}