div.form-control {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;  
  width: 385px;
  margin-top: 25%;
  position: sticky;

}

label {
  display:block;
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
}