button {
  left: 3.5rem;
  position: relative;
  width: 389px;
  height: 50px;
  text-transform: capitalize;
  padding: 0px;
  margin: 0;
  border: 1px #000000 solid;
  border-radius: 5px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 18px;
}

button#form {
  top: 2rem;
}

button#completed {
  top: 1.8rem;
}

@media screen and (max-width: 375px) {

  button#completed,
  button#form {
    max-width: 340px;
    position: absolute;
    top: 19rem;
    left: 0.8rem;
  }
  
}