#front-card {
  background-image: url(../images/bg-card-front.png);
  background-size: 445px 245px;
  background-repeat: no-repeat;
  width: 445px;
  height: 245px;
  left: 0;
  top: 0;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  position: absolute;
}

#big-circle {
  display: inline-grid;
  background-color: white;
  border-radius: 50px;
  width: 46px;
  height: 46px;
  position: relative;
  left: 5%;
  top: 10%;
}

#small-circle {
  display: inline-grid;
  border-radius: 50px;
  border: white solid 1px;
  width: 23px;
  height: 23px;
  position: relative;
  left: 8%;
  top: 7%;
}

p { 
  display: inline-grid;
  width:fit-content;
  position: absolute;
  top: 78%;
  margin: 0;
}

p#cardholder {
  left: 5%;
  letter-spacing: 2px;
  font-weight: 100;
}

p#ccNumber {
  top: 8rem;
  left: 1.5rem;
  font-size: 35px;
  font-weight: lighter;
}

p#expDate {
  right: 5%;
}

@media screen and (max-width: 375px) {
  #front-card {
    zoom: 0.6;
    position: absolute;
    left: 2rem;
    top: 11rem;
  }

  p#cardholder,
  p#expDate {
    top: 80%;
    font-size: 16px;
  }

  p#ccNumber {
    zoom: 1.4;
    letter-spacing: 2.4px;
    left: 5%;
    top: 51%;
    font-size: 21px;
  }

  p#expDate {
    right: 6%
  }
}