input {
  color: hsl(278, 68%, 11%);
  font-size: medium;
  height: 45px;
  margin-bottom: 30px;
  border: 1px hsl(270, 3%, 87%) solid;
  border-radius: 5px;
  text-indent: 1em;
  outline: none;
}

input.long-field {
 width: 380px;
}

input.medium-field{
  width: 178px;
  margin-left: 8px;
}

input.small-field {
  width: 80px;
  margin-right: 8px;
}

input:focus {
  border: 1px #510077 solid;
}

.form-input {
  max-width: fit-content;
}

.form-control--invalid::after {
  color: red;
  width: fit-content;
  font-size: 11px;
  display: block;
}

.form-control--invalid label#errorText,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input {
  border-color: red;
  background: #ffd1d1;
  
}

label#security,
label#errorText.security {
  margin-left: 8px;
}

label#errorText { 
  margin-top: -23px;
  margin-bottom: 12px;
  font-size: 10px;
}

label#month::before {
  content: "exp date. (m";
}

label#year::before {
  content: "m/yy)";
}

@media screen and (max-width: 375px) {
  input.long-field {
    max-width: 95%;
  }

  input.medium-field,
  .small-field {
    margin-right: 0px;
  }

  input.medium-field {
    width: 170px;
  }

  ::placeholder {
    zoom: 1.2;
  }

  label#month::before {
    content: "exp date. (";
  }
  
  label#year::before {
    content: "mm/yy)";
  }

  label#security {
    margin-left: 8px;
  }

  label.security#errorText{
    margin-left: 8px;
  } 
} 