input {
  color: hsl(278, 68%, 11%);
  font-size: medium;
  height: 45px;
  margin-bottom: 30px;
  border: 1px hsl(270, 3%, 87%) solid;
  border-radius: 5px;
  text-indent: 1em;
  outline: none;
}

input::after {
  content: attr(data-errorText);
}

input.long-field {
 width: 380px;
}

input.medium-field{
  width: 168px;
}

input.small-field {
  width: 80px;
  margin-right: 8px
}

#tester {
  border: 3px solid red;
  width: 100px;
  height: 100px;
}

input:focus {
  border: 1px #510077 solid;
}

.form-input {
  max-width: fit-content;
}

.form-control--invalid::after {
  /* content: attr(errorText); */
  /* content: 'Please fill this in correctly'; */
  color: red;
  width: fit-content;
  font-size: 11px;
  display: block;
}

/* .form-input--invalid input::after {
  content: 'Please fill this in correctly';
  border-color: red;
  margin: 15px;
  width: fit-content;
} */

.form-control--invalid label,
.form-control--invalid p {
  color: red;
  /* content: 'Please fill this in correctly'; */
}

.form-control--invalid input {
  border-color: red;
  background: #ffd1d1;
  
}

@media screen and (max-width: 375px) {
  input.long-field {
    max-width: 95%;
  }

  input.medium-field,
  .small-field {
    margin-right: 0px;
  }

  ::placeholder {
    zoom: 1.2;
  }
} 