card-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  margin-left: 0;
  max-width: 100%;
  padding-bottom: 10rem;
}

front-card {
  zoom: 0.7;
  /* position: absolute; */
  left: 4%;
  top: 65%;
  order: 1;
}

medium-field {
  width: 168px;
}

small-containenrs.mobile and desk top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

small-field {
  width: 80px;
  margin-right: 8px;
}

long-field {
  width: 98%;
}

media screen and (max-width: 375px)
<style>
.form-control {
    zoom: .9;
    /* position: absolute; */
    top: 140%;
    left: 3%;
}

@media screen and (max-width: 375px)
<style>
.frontcard {
    zoom: 0.65;
    /* position: absolute; */
    left: 25px;
    top: 175px;
    order: 1;
}


element.style {
}
@media screen and (max-width: 375px)
<style>
.back-card {
    zoom: 0.65;
    top: 15px;
    right: 25px;
    order: 2;
}


form-control -desktop {
  /* no element styles turned on */
}

form-container.desktop {
  max-width: 65%;
    /* height: 300px; */
    background-color: white;
    padding: 2rem 1rem 2rem 1rem;
}

frontcard.desktop {
  background-image: url(/static/media/bg-card-front.33d6bbef.png);
  background-size: 445px 245px;
  background-repeat: no-repeat;
  width: 445px;
  height: 245px;
  left: 0;
  top: 0;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  position: absolute;
}

card-container desktop {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 4rem;
  /* height: 400px; */
  width: 35%;
  padding-bottom: 34rem;
}

ccform desktop{
  padding: 5rem 1rem 5rem 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

long-field {
  width: 100%;
  color: hsl(278, 68%, 11%);
  font-size: medium;
  height: 45px;
  margin-bottom: 30px;
  border: 1px hsl(270, 3%, 87%) solid;
  border-radius: 5px;
  padding-left: -10px;
  text-indent: 1em;
  outline: none;
}

small-field{
  width: 80px;
  margin-right: 8px;
}

medium-field {
  width: 168px;
}